#wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.wrapper-smooth {
    transition: all 0.5s;
}

.wrapper-active {
    background-color: rgba(0, 0, 0, 0.3);
}

.wrapper-error {
    background-color: rgba(0, 0, 0, 0.7);
}

.hidden {
    display: none;
}

.down-size {
    transform: scale(0.93);
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.body-smooth {
    transition: all 0.5s;
}

.loading-spinner {
    height: 30px;
    width: 30px;
    padding-top: 50px;
}
